#nav-box {
    background-color: rgb(51, 51, 51);
    line-height: 36px;
}
#nav-box a {
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    color: #b0b0b0b0;
    border-right: 1px solid #424242;
}
#nav-box a:hover {
    color:  #ffffff;
}
.cart {
    background-color: rgb(66,66,66);
    line-height: 36px !important;
}
#nav-box .no-border {
    border-right: none;
}
#nav {
    width: 1260px;
    margin: 0 auto;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
/*设置浮动之后，父元素会丢失*/
.clear {
    clear: both;
}
#header {
    width: 1260px;
    margin: 0 auto;
    margin-top: 20px;
}
.header-left {
    display: inline-block;
    width: 250px;
    font-size: 16px;
}
.header-left img {
    width: 56px;
    vertical-align: middle;
}
.header-center {
    display: inline-block;
    width: 726px;
    font-size: 16px;
}
.header-center span {
    display: inline-block;
    padding: 0 8px;
    line-height: 56px;
}
.header-center span:hover {
    cursor: pointer;
    color: rgb(255, 106, 0);
}
.header-right {
    display: inline-block;
    width: 276px;
    font-size: 16px;
    vertical-align: middle;
}
.header-right input {
    border: 1px solid #ddd;
    line-height: 48px;
    width: 200px;
    padding: 0 10px;
    font-size: 16px;
}
.header-right input:focus {
    outline: none;
}
.header-right button {
    border: 1px solid #ddd;
    background-color: #ffffff;
    line-height: 48px;
    padding: 0 10px;
    font-size: 16px;
}
.header-right .search {
    font-size: 0;
}


.banner {
    background-color: red;
    margin: 0 auto;
    width: 1260px;
}
.banner ul {
    width: 250px;
    background-color: #999
}